{% extends '::base.html.twig' %}

{% block title %}Edit Client - {{ parent() }}{% endblock %}
{% block main_title %}Edit Client: <em>{{ client.name }}</em>{% endblock %}

{% block body -%}
    {{
        include('AgileInvoiceBundle:Client:form.html.twig', {
            'form': form,
            'form_action': path('client_update', { 'id': client.id }),
            'edit': true
        })
    }}
{% endblock %}

{% block right_column %}
    <div class="well well-small">
        <a href="{{ path('client_delete', {'id': client.id}) }}" data-href-method="delete" data-mconfirm-header="Are you sure you want to remove {{ client.name }} from your account?" class="text-error"><small>Remove {{ client.name }} from your account</small></a>
    </div>
    
    <div class="well well-small">
        <a href="{{ path('client_toggle', {'id': client.id}) }}" data-mconfirm-header="Are you sure you want to archive {{ client.name }}?" class="text-error"><small>Archive {{ client.name }}</small></a>
    </div>
{% endblock %}
