{% extends '@AgileInvoice/one-column.html.twig' %}

{% block main_title %}Manage Clients{% endblock %}

{% block body -%}
    <div id="toolbar" class="clearfix">
        {% if numInactiveClients > 0 %}
        <div id="inactive_clients_link" class="upper_side_link">
            <a href="{{ path('client_inactive') }}" class="muted" ><small>Manage Archived Clients</small> <i class="icon-circle-arrow-right"></i> </a>
        </div>
        {% endif %}

        <div>
            <a href="{{ path('client_new') }}" class="btn btn-success btn-small">+ Create Client</a>
            <a href="{{ path('contact_new') }}" class="btn btn-small">+ Add Contact</a>
        </div>
    </div>

    {% if clients|length > 0 %}
    <ul class="clients-list">
        {% for client in clients %}
        <li>
            <h2>{{ client.name }}
                <span>(
                    <a href="{{ path('client_edit', {'id': client.id}) }}">Edit</a>
                    |
                    <a href="{#{ path('client_contact_new', {'id': client.id}) }#}#">Add contact</a>
                )</span>
            </h2>

            {{ render(controller('AgileInvoiceBundle:Client:contactList', {'client_id': client.id})) }}

        </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
