{% extends '::base.html.twig' %}
{% form_theme form with 'AgileInvoiceBundle:Form:horizontal-fields.html.twig' %}

{% block title %}{{ 'company.settings'|trans }} - {{ parent() }}{% endblock %}

{% block main_title %}{{ 'company.edit_preferences'|trans }}{% endblock %}

{% block body -%}
    
    <form novalidate class="form-horizontal" action="{{ path('company_preferences_update') }}" method="post" {{ form_enctype(form) }}>
        <input type="hidden" name="_method" value="PUT">

        {{ form_errors(form) }}

        {{ form_row(form.name, { attr: { 'class': 'input-block-level' }}) }}
        {{ form_row(form.owner, { attr: { 'class': 'input-block-level' }}) }}
        {{ form_row(form.fiscalYearStart, { attr: {'class': 'input-block-level'}, 'help': 'company.fiscal_year.form.help'|trans }) }}
        {{ form_row(form.timezone, { attr: {'class': 'input-block-level'}, 'help': 'company.timezone.form.help'|trans }) }}
        {{ form_row(form.dateFormat, { attr: { 'class': 'input-block-level' }}) }}
        {{ form_row(form.currency, { attr: { 'class': 'input-block-level' }}) }}
        {{ form_row(form.currencyPlacement) }}
        {{ form_row(form.includeCurrencyCode) }}
        {{ form_row(form.numberFormat) }}
        {{ form_row(form.colorScheme) }}
        {{ form_row(form.logo) }}

        {{ form_rest(form) }}

        <input type="submit" value="{{ 'company.save_preferences'|trans }}" class="btn btn-success btn-small">
        <a href="{{ path('company_account') }}" class="btn btn-small">Cancel</a>
    </form>

{% endblock %}