{% form_theme form with 'AgileInvoiceBundle:Form:horizontal-fields.html.twig' %}

<form novalidate class="form-horizontal" action="{{ form_action }}" method="post" {{ form_enctype(form) }}>
    
    {# Se è un form per l'editing, aggiungiamo il seguente campo #}
    {% if edit is defined %}
        <input type="hidden" name="_method" value="PUT" />
    {% endif %}

    {#{ form_widget(form) }#}
    {{ form_errors(form)}}

    {{ form_row(form.firstName, { 'attr': {'class': 'input-block-level'} }) }}
    {{ form_row(form.lastName, { 'attr': {'class': 'input-block-level'} }) }}
    {{ form_row(form.title, { 'attr': {'class': 'input-block-level'} }) }}
    {{ form_row(form.email, { 'attr': {'class': 'input-block-level'} }) }}
    {% if form.client is defined %}
        {{ form_row(form.client, { 'attr': {'class': 'input-block-level'} }) }}
    {% endif %}
    {{ form_row(form.phoneOffice, { 'attr': {'class': 'input-block-level'} }) }}
    {{ form_row(form.mobile, { 'attr': {'class': 'input-block-level'} }) }}
    {{ form_row(form.fax, { 'attr': {'class': 'input-block-level'} }) }}    
    
    {{ form_rest(form) }}

    <input type="submit" value="Save" class="btn btn-success btn-small " />
    <a href="{{ path('client') }}" class="btn btn-small">Cancel</a>
</form>