{% extends '::base.html.twig' %}
{% trans_default_domain 'AgileInvoiceBundle' %}

{% block title %} Dashboard - {{ app.user.company }}{% endblock %}
{% block body_class %}overview-page{% endblock %}
{% block main_title %}
    Dashboard

    <a href="{{ path('invoice') }}" class="btn btn-mini">{{ 'create.invoice'|trans }}</a>

    <hr>
{% endblock %}

{% block body %}
    <div class="overview">
        <h5>{{ 'invoice.summary'|trans }}</h5>

        <table id="tbl-invoicesummary" class="table table-bordered table-hover">
            <tr>
                <td class="big_link clickable">
                    <a href="{{ path('invoice') }}">
                        <span class="type-smallgrey">{{ 'amount.outstanding'|trans }}</span>
                        <span class="type-cost type-red">€0,00</span>
                        <span class="type-note-black">(0 invoices)</span>
                        <i class="icon-play-circle"></i>
                    </a> 
                </td>
            </tr>
            <tr>
                <td class="big_link clickable">
                    <a href="/invoices/archive?timeframe=20130501%2C20130531">
                        <span class="type-smallgrey">{{ 'amount.invoiced.this.month'|trans }}</span>
                        <span class="type-cost type-red">€0,00</span>
                        <span class="type-note-black">(0 invoices)</span>
                        <i class="icon-play-circle"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="big_link clickable">
                    <a href="/invoices/payments_archive?timeframe=20130401%2C20130430">
                        <span class="type-smallgrey">{{ 'payments.received.last.month'|trans }}</span>
                        <span class="type-cost">€0,00</span>
                        <i class="icon-play-circle"></i>
                    </a>
                </td>
            </tr>
            <tr>
                <td class="big_link clickable">
                    <a href="/invoices/payments_archive?timeframe=20130101%2C20131231">
                        <span class="type-smallgrey">{{ 'payments.received.year.to.date'|trans }}</span>
                        <span class="type-cost">€0,00</span>
                        <i class="icon-play-circle"></i>
                    </a>
                </td>
            </tr>

        </table>
    </div>

{% endblock %}

{% block right_column %}
    <h5>News</h5>
    <div id="sidebar-news" class="well well-small">
        <a href="#"><small><strong>Lorem ipsum dolor sit amet, consectetur adipisicing elit</strong> <span class="date">· 27 May 2013</span></small></a>
    </div>
{% endblock %}
