{% extends '::base.html.twig' %}

{% block title %} Welcome - {{ app.user.company }}{% endblock %}

{% block main_title %}
    Hello, {{ app.user.firstName }}!
{% endblock %}

{% block body %}
    <p>
        Here are a few simple steps to get started with "Fatture facili":<br />
        <br />
    </p>

    <h4><a href="{{ path('client') }}">Create Clients</a></h4>
    <p>Create your first customer to begin invoicing.</p>

    <h4><a href="{{ path('invoices') }}">Invoice Clients</a></h4>
    <p>Get paid for your work.</p>

    <h4><a href="{{ path('invoices_configure') }}">Customize invoices</a></h4>
    <p>Customize invoice, default values and messages.</p>

    <br />
    <hr>

    <p>
        <small>Done with this welcome screen? <a href="{{ path('disable_welcome_screen', { 'id': app.user.id }) }}">Hide it!</a></small>
    </p>
{% endblock %}

{% block right_column %}
    <div class="well well-small">
        Need help?
        
        <p>
            <a href="#">Getting Started</a><br />
            <small>Learn the basics of Harvest.</small>
        </p>

        <p>
            <a href="#">Help Center</a><br />
            <small>Our knowledge base and FAQs.</small>
        </p>
        
        <p>
            <a href="#">Contact Us</a><br />
            <small>Immediate support from nice people.</small>
        </p>
    </div>

    <div class="well well-small">
        <p>
            <span class="badge badge-inverse">30</span> days left in your free trial<br /><br />
            <a href="#" class="btn">See Upgrade Options</a>
        </p>
    </div>
{% endblock %}
