{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block title %}Login - {{ parent() }}{% endblock %}

{% block main_title %}Login to your account{% endblock %}

{% block fos_user_content %}
{% if error %}
    <div class="alert alert-error fade in">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ error|trans }}
    </div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post" class="form-horizontal">
    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    
    <div class="control-group">
        <label class="control-label required" for="username">{{ 'security.login.username'|trans }}</label>
        <div class="controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
        </div>
    </div>

    <div class="control-group">
        <label class="control-label required" for="password">{{ 'security.login.password'|trans }}</label>
        <div class="controls">
            <input type="password" id="password" name="_password" required="required" />
        </div>
    </div>
    
    <div class="control-group">

        <div class="controls">
            <label class="checkbox" for="remember_me">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" /> {{ 'security.login.remember_me'|trans }}
            </label>
            <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" class="btn btn-success btn-small " />
        </div>

    </div>

</form>

<p><a href="{{ path('fos_user_resetting_request') }}" class="muted">Forgot password?</a></p>

{% endblock fos_user_content %}

{% block right_column %}
    <h3>Still not registered?</h3>
    <h4>Let’s get to work.</h4>
    <p>
        Spend less time tracking and more time doing.
    </p>
    <p>
        <a href="{{ path('fos_user_registration_register') }}" class="btn btn-large btn-success">Try Fatture Online for free</a>
    </p>
{% endblock %}
