{% form_theme form with 'AgileInvoiceBundle:Form:horizontal-fields.html.twig' %}
{% extends '::base.html.twig' %}

{% block title %}Create New Client - {{ parent() }}{% endblock %}
{% block main_title %}Create New Client{% endblock %}

{% block body %}
    <form novalidate class="form-horizontal" action="{{ path('clients_new') }}" method="post" {{ form_enctype(form) }}>
        {#{ form_widget(form) }#}
        {{ form_errors(form)}}

        {{ form_row(form.name, { 'attr': {'class': 'input-block-level'} }) }}
        {{ form_row(form.address, { 'attr': {'rows': 8, 'class': 'input-block-level'} }) }}
        
        {{ form_rest(form) }}

        <input type="submit" value="Save" class="btn btn-success btn-small " />
        <a href="{{ path('clients') }}" class="btn btn-small">Cancel</a>
    </form>
{% endblock %}

{% block right_column %}
    <div class="well well-small">Once you've added a client, you can add projects and contacts.</div>
{% endblock %}
